:root {
  --main-color: #474955;
  --gray-color: #e3e6ec;
  --active-color: #7ebc3c;
}
 body {
  font-size: 13px;
  color: var(--main-color);
  font-family: Roboto;
  font-weight: 500;
  line-height: 137.687%;
}

.App {
  padding: 20px;
}

.icon-placeholder {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-sort {
  margin-left: 40px;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.icon-sort.desc {
  transform: none;
  transition: transform 0.3s ease-in-out;
}
