
:root {
  --main-color: #474955;
  --gray-color: #E3E6EC;
}

body {
  font-size: 13px;
  color: var(--main-color);
 font-family: Roboto;
  font-weight: 500;
  line-height: 137.687%;
}


.App {
  padding: 20px;
}

.container {
  max-width: 1077px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header,
.row{
  display: flex;
}

.id {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 11px;
  flex: 0 1 10%;
  border-bottom: 1px solid var(--gray-color);
  border-left: 1px solid var(--gray-color);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 11px;
  flex: 0 1 50%;
  border: 1px solid var(--gray-color);
  border-top: none;
}

.description {
  flex: 0 1 40%;
  border-bottom: 1px solid var(--gray-color);
  border-right: 1px solid var(--gray-color);
  padding: 15px 11px;
}

